input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
  margin-right: 10px;
}

li {
  margin-right: 10px;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  color: #fff;
  background: lightcoral;
  cursor: pointer;
}

.incompleat-area {
  background: lemonchiffon;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.compleat-area {
  background: pink;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  font-weight: bold;
  color: #666;
  margin: 0;
}

.list-row {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}